body, html {
	width: 100%;
	height: 100%;
}
.container {
	display: flex;
	justify-content:  space-evenly;
	align-items: center;
	width: 100%;
	font-family: helvetica, sans-serif;
}
#cat-list {
	list-style-type: none;
	padding: 0;
	font-size: 2em;
	margin: .8em .4em;
}
#cat {
	text-align: center;
}
#cat-name {
	font-size: 2em;
	margin: .8em;
}

#cat-count {
	font-size: 1.5em;
	margin: .4em;
}
#cat-img {
	border-radius: 5px;
	width: 60%;
}
.display-none {
	display: none;
}
.admin-button, .admin-save-button {
	display: block;
	margin: .5em auto;
	padding: 10px 20px;
	border-radius: 5px;
	border: 0;
	background-color: #cccccc;
	font-size: 1.1em;
	outline: none;
}


@media screen and (max-width:700px){
	.container {
		flex-direction: column;
	}
	#cat-name {
		font-size: 1.7em;
		margin: .4em 0em;
	}
	#cat-list {
		font-size: 1.5em;
		display: flex;
		flex-wrap: wrap;
	}
	#cat-list li {
		margin: .5em;
	}
}